<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteMavenTestNG">
  <test thread-count="5" name="TestMavenTestNG">
    <classes>
      <class name="testgroupid.TestMavenProject.RestAssuredTest"/>
      <class name="testgroupid.TestMavenProject.SeleniumTest"/>
      <class name="testgroupid.TestMavenProject.AppiumTest"/>
    </classes>
  </test> <!-- TestMavenTestNG -->
</suite> <!-- SuiteMavenTestNG -->
